/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 Mar 2023, 18:25:09
    Author     : T Kujwane
*/
@charset "UTF-8";

table, th, td{
    border: 1px solid black;
}

textarea{
    background-color: bisque;
}

html{
    background-color: white;
    color: blue;
    font-family: consolas;
    font-size-adjust: 50px;
}

body{
    /*background-image: url(../images/bgImg2.jpeg);*/
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-background-size: anything;
}

h1{
    text-align: center;
    font-weight: bold;
}

th{
    text-align: center;
}

.submitBtn{
    text-align: right;
}

input[type = "submit"]{
    width: 25%;
    margin-left: 20px;
}

input[type = "submit"]:hover{
    background-color: orange;
    border-color: background;
    color: red;
}

.tickImg, .recycleBinImg, .errorGif, .sadImg{
    text-align: center;
}

a{
    color: orangered;
}

a:hover{
    color: blue;
}

nav>ul{
    display: inline;
    float: right;
    clear: both;
}

.socialMediaLinks{
    border: none;
}

input[type = "text"]{
    width: border-box;
}

td.top_navigation{
    margin-right: 5px;
    color: red;
    border: none;
    background-color: bisque;
}

nav.top_navigations_container{
    margin-bottom: 20px;
}

.top_navigation{
    margin-right: 20px;
}