<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SessionManagerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.servlet.SessionManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.web.servlet.DeleteProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.web.servlet.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProServlet</servlet-name>
        <servlet-class>za.ac.tut.web.servlet.UpdateProServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayServlet</servlet-name>
        <servlet-class>za.ac.tut.web.servlet.DisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProTwoServlet</servlet-name>
        <servlet-class>za.ac.tut.web.servlet.UpdateProTwoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishVacancyServlet</servlet-name>
        <servlet-class>za.ac.tut.web.servlet.PublishVacancyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>za.ac.tut.web.servlet.ApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVacancyApplicationsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.servlet.GetVacancyApplicationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartViewApplicationHistoryServlet</servlet-name>
        <servlet-class>za.ac.tut.startviewapplicationhistoryservlet.StartViewApplicationHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApplicationHistoryServlet</servlet-name>
        <servlet-class>za.ac.tut.viewapplicationhistoryservlet.ViewApplicationHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApplicationWithdrawalServlet</servlet-name>
        <servlet-class>za.ac.tut.viewapplicationwithdrawalservlet.ViewApplicationWithdrawalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartWithDrawApplicationServlet</servlet-name>
        <servlet-class>za.ac.tut.startwithdrawapplicationservlet.StartWithDrawApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionManagerServlet</servlet-name>
        <url-pattern>/SessionManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfileServlet</servlet-name>
        <url-pattern>/DeleteProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProServlet</servlet-name>
        <url-pattern>/UpdateProServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayServlet</servlet-name>
        <url-pattern>/DisplayServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProTwoServlet</servlet-name>
        <url-pattern>/UpdateProTwoServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishVacancyServlet</servlet-name>
        <url-pattern>/PublishVacancyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/ApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVacancyApplicationsServlet</servlet-name>
        <url-pattern>/GetVacancyApplicationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartViewApplicationHistoryServlet</servlet-name>
        <url-pattern>/StartViewApplicationHistoryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApplicationHistoryServlet</servlet-name>
        <url-pattern>/ViewApplicationHistoryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApplicationWithdrawalServlet</servlet-name>
        <url-pattern>/ViewApplicationWithdrawalServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartWithDrawApplicationServlet</servlet-name>
        <url-pattern>/StartWithDrawApplicationServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
